/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container-2cols {
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;
}
pre {
  overflow: auto;
  width: 100%;
}
